@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home";
}

@model MarvelsApp.Models.ViewModel

<div class="mt-4"><a class="home-links-css" href="#heroes">Heroes</a> <span style="color: rgba(0, 0, 0, 20%);">|</span> <a class="home-links-css" href="#anti-heroes">Anti-Heroes</a> <span style="color: rgba(0, 0, 0, 20%);">|</span> <a class="home-links-css" href="#villains">Villains</a> <span style="color: rgba(0, 0, 0, 20%);">|</span> <a class="home-links-css" href="#super-villains">Super-Villains</a>  </div>

<div class="h3 mt-4" id="heroes">Heroes</div>

<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 ">

    @foreach (var character in Model.Heroes)
    {
        <div class="col">
            <a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    <img src="/images/@character.ImageUrl" class="card-img-top card-img-css" alt="@character.Name">
                    <div class="card-body">
                        <h5 class="card-title">@character.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@character.RealName</h6>
                        <p class="card-text">@character.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="mt-2">
    <a href="#top" class="home-links-css">Back to top  <i class="bi bi-arrow-up-circle"></i></a>
</div>

<div class="h3 mt-4" id="anti-heroes">Anti-Heroes</div>

<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 ">

    @foreach (var character in Model.AntiHeroes)
    {
        <div class="col">
            <a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    <img src="/images/@character.ImageUrl" class="card-img-top card-img-css" alt="@character.Name">
                    <div class="card-body">
                        <h5 class="card-title">@character.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@character.RealName</h6>
                        <p class="card-text">@character.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="mt-2">
    <a href="#top" class="home-links-css">Back to top  <i class="bi bi-arrow-up-circle"></i></a>
</div>

<div class="h3 mt-4" id="villains">Villains</div>
<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 ">

    
    @foreach (var character in Model.Villains)
    {
        <div class="col">
            <a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    <img src="/images/@character.ImageUrl" class="card-img-top card-img-css" alt="@character.Name">
                    <div class="card-body">
                        <h5 class="card-title">@character.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@character.RealName</h6>
                        <p class="card-text">@character.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
    
</div>

<div class="mt-2">
    <a href="#top" class="home-links-css">Back to top  <i class="bi bi-arrow-up-circle"></i></a>
</div>

<div class="h3 mt-4" id="super-villains">Super-Villains</div>

<div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 ">

    @foreach (var character in Model.SuperVillains)
    {
        <div class="col">
            <a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" style="text-decoration: none; color: inherit;">
                <div class="card h-100">
                    <img src="/images/@character.ImageUrl" class="card-img-top card-img-css" alt="@character.Name">
                    <div class="card-body">
                        <h5 class="card-title">@character.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@character.RealName</h6>
                        <p class="card-text">@character.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="mt-2">
    <a href="#top" class="home-links-css">Back to top  <i class="bi bi-arrow-up-circle"></i></a>
</div>